$body-bg-color: #F6FBF4;
$body-bg-color-dark: #272727;

$font-color: rgb(34, 34, 34);
$font-color-light: rgb(221, 221, 221);
$font-color-light-disabled: #ffe1e1;

$light-grey: #ededed;
$light-grey-disabled: #ebdbdb;

$medium-light-grey: #d5d5d5;
$medium-light-grey-disabled: rgb(209, 183, 183);

$medium-dark-grey: rgb(55, 55, 55);
$medium-dark-grey-disabled: rgb(116, 55, 55);

$medium-darker-grey: rgb(45, 45, 45);
$medium-darker-grey-disabled: rgb(77, 41, 41);

$dark-grey: rgb(20, 20, 20);

$lighter-blue: rgb(242, 251, 255)1;
$light-blue: #DAEAF1;
$dark-blue: #536972;
$darker-blue: #3a4a52;
$medium-light-blue: #C6DCE4;
$dark-brown: #3a4a52;

$border-radius: 6px;
$padding-small: 12px;
$padding-medium: 18px;
$margin-small: 6px;
$margin-medium: 12px;
$margin-large: 18px;

$responsive-break-point: 770px;