@use "../sass/abstracts/variables";
@use "../sass/abstracts/placeholders";

.crypto-details-wrap {
  margin-bottom: variables.$margin-large;

  .coin-title {
    font-size: 2em;
    margin-bottom: variables.$margin-medium;
  }

  .row {
    display: flex;
    margin-bottom: variables.$margin-small;

    .label-col {
      font-weight: bold;
      min-width: 100px;
    }

    .value-col {
      flex: 1;
    }
  }
}

.chart-wrapper {
  @extend %transparent-input;

  .chart-area {
    position: relative;
    height: 40vw;
    width: calc(100% - 10px);
    margin: 0 auto;
  }

  #chart-canvas {
    width: 100%;
    height: 100%;
    min-height: 300px;
  }
}

.dark {
  .chart-wrapper {
    border: 1px solid variables.$medium-dark-grey;
  }
}

@media only screen and (min-width: 1024px) {
  .chart-wrapper {
    .chart-area {
      height: 30vw;
      width: calc(100% - 10px);
    }
  }
}