@use "../sass/abstracts/variables";
@use "../sass/abstracts/placeholders";

.dv-list {
  margin-top: variables.$margin-medium;
}

.crypto-list {
  display: flex;
  flex-direction: column;
  gap: variables.$margin-small;
  margin-bottom: variables.$margin-small;
}

.no-crypto-found-wrapper {
  background-color: variables.$light-grey-disabled;
  border: 1px solid variables.$medium-light-grey-disabled;
  border-radius: variables.$border-radius;
  padding: variables.$padding-medium;
}

.dark {
  .no-crypto-found-wrapper {
    background-color: variables.$medium-darker-grey-disabled;
    border: 1px solid variables.$medium-dark-grey-disabled;
    color: variables.$font-color-light-disabled;
  }
}